* {
    font-family: 'Poppins', sans-serif;;
}

// global

.button {
    padding: 12px;
    width: fit-content;
    background-color:#00ADB5;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    border-radius: 11px;
    transition: all .2s ease;
    box-sizing: border-box;

    &:hover {
        background-color: #222831;
        border: solid 2px #00ADB5;
        padding: 10px;
    }
}

.hero-text {
    color: #fff;
    font-size: 60px;

    .green-text {
        color: #00ADB5;
    }
}

.nav {
    height: 100px;
    background-color: #222831;
    position: fixed;
    width: 100%;
    z-index: 99;

    .name-logo {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    }

    .nav-link {
        color: #ffffff;
        font-size: 14px;
        font-weight: 200;
        transition: all .5s;

        &:hover {
            background-color: #00ADB5;
            padding: 10px;
            border-radius: 11px;
        }
    }
}

.main {
    background-color: #222831; 
    height: 100vh;

    .hero-text-container {
        .hero-text {
            color: #fff;
            font-size: 60px;

        }
    }

    .img-container {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.about-section {
    background-color: #222831;
    padding-bottom: 30px;

    .normal-text {
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
    }
}

.works-container {
    background-color: #282d37;
    background-image: url(../assets/pexels-roberto-nickson-3082341.jpg);
    opacity: 0.75;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    
    .container-bg {
        height: 100%;
        width: 100%;
        background-color: #222831d2;
    }

    .work-card {
        width: 50%;
        height: 100%;
        background-color: #00ADB5;
        padding: 10px;
        border-radius: 11px;
        transition: all .5s ease-in-out;

        &:first-child {
            margin-right: 10px;
        }

        .work-img {
            height: auto;
            width: 100%;
            border-radius: 10px;
        }
    }
   
}